<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>prefecuturelist</key>
	<array>
		<dict>
			<key>No</key>
			<integer>1</integer>
			<key>Name</key>
			<string>北海道</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>2</integer>
			<key>Name</key>
			<string>青森県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>3</integer>
			<key>Name</key>
			<string>岩手県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>4</integer>
			<key>Name</key>
			<string>宮城県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>5</integer>
			<key>Name</key>
			<string>秋田県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>6</integer>
			<key>Name</key>
			<string>山形県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>7</integer>
			<key>Name</key>
			<string>福島県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>8</integer>
			<key>Name</key>
			<string>茨城県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>9</integer>
			<key>Name</key>
			<string>栃木県</string>
		</dict>
		<dict>
			<key>No</key>
			<integer>10</integer>
			<key>Name</key>
			<string>群馬県</string>
		</dict>
	</array>
</dict>
</plist>
